* {
  margin: 0px;                  
}
.title{
    color: rgb(214, 83, 83);
    align-items: center;
}

.header{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color:rgb(224, 210, 210);

}
.navbar {
  display: flex;
  gap: 20px;
  /* background-color:rgb(224, 210, 210); */
  align-items:center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  flex: 0.6;
  justify-content: space-between;
  list-style: none;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 600;
  align-items: center;
  width: 100%;
}
.search-text{
display: flex;
justify-content: flex-end;
flex: 0.4;
}
.nav-list li {
  list-style: none;
}
.nav-list li a {
    margin: 4px;
  text-decoration:none;
  list-style: none;
  color:black;
}
.logo {
  width: 40px;
  height: 40px;
  display: flex;
  border: 1px solid green;
  border-radius: 4px;
  margin: 2px;
  border-radius: 3px;
}
/* .nav-logo{
    display: flex;
} */
#search{
    border: 1px solid blue;
    border-radius: 3px;
}
.btn-sm{
    color: blue;
}
.banner {
    height: 800px;
    width: 100%;
    margin-top: 4px;
  }
  